body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    margin-bottom: 160px;
}

a {
    margin-right: 45px;
    transition-property: width, height;
    transition-duration: 5s;
    transition-delay: 2s;
}
a:link, a:visited {
    background-color: #00557c;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }
  
  a:hover, a:active {
    background-color: #00415fce;
    width: 130px;
    height: 25px;
}
  